<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

<div>
<%= gravatar_for @user %> 

<%= @user.name %>
</div>
<div>
email:<%= @user.email %>
</div>
<div>
area:<%= @user.area %>
</div>
<%= link_to "following", following_user_path(@user) %>
<%= link_to "follower", followers_user_path(@user) %>
 
    </section>
  </aside>
  <div class="col-md-8">

<%= render 'follow_form' if logged_in? %>



<% if @user.microposts.any? %>

      <h3>Microposts (
<%= @user.microposts.count %>
)</h3>
      <ol class="microposts">
        
<%= render @microposts %>


      </ol>
   <%= paginate @microposts %> 
<% end %>

<%# フォロワー %>



      <h3>follower (<%= @user.follower_users.count %>)</h3>
     <ol class="follow_users">
 
          <%= render partial: 'follower_user', collection: @users %>
        
      </ol>

<%# フォロー %>



      <h3>following (
<%= @user.following_users.count %>
)</h3>
           <ol class="following_users">
          <%= render partial: 'following_user', collection: @users %>
     
      </ol>

  </div>
</div>